{% extends 'base.htm' %}

{% block body %}
<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">भारतीय कला</h1>
          <p class="lead text-muted">भारतीय कला एक शब्द है जिसका उपयोग कला इतिहास में भारतीय उपमहाद्वीप के ऐतिहासिक क्षेत्रों में निर्मित विभिन्न कलात्मक अभिव्यक्तियों के समूह और अध्ययन के लिए किया जाता है, 
              जिसमें आधुनिक भारत, बांग्लादेश और पाकिस्तान और अफगानिस्तान के क्षेत्र शामिल हैं। 
              इसमें कई कला रूपों, ऐतिहासिक काल और प्रभावों को शामिल किया गया है।</p>
          <p>
            <a href="#" class="btn btn-primary my-2">History</a>
            <a href="#" class="btn btn-secondary my-2">Info</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
                <img src="static\arts1.jpg" class="d-block w-100" alt="">
  
              <div class="card-body">
                <p class="card-text">भारतीय कला एक शब्द है जिसका इस्तेमाल कला इतिहास में ऐतिहासिक क्षेत्रों में बनाई गई विभिन्न कलात्मक अभिव्यक्तियों के समूह और अध्ययन के लिए किया जाता है</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                  </div>
                  <small class="text-muted"></small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="static\arts2.jpg" class="d-block w-100" alt="">
  
              <div class="card-body">
                <p class="card-text">भारतीय कला एक शब्द है जिसका इस्तेमाल कला इतिहास में ऐतिहासिक क्षेत्रों में बनाई गई विभिन्न कलात्मक अभिव्यक्तियों के समूह और अध्ययन के लिए किया जाता है.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                  </div>
                  <small class="text-muted"></small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="static\arts3.jpg" class="d-block w-100" alt="">
  
              <div class="card-body">
                <p class="card-text">भारतीय कला एक शब्द है जिसका इस्तेमाल कला इतिहास में ऐतिहासिक क्षेत्रों में बनाई गई विभिन्न कलात्मक अभिव्यक्तियों के समूह और अध्ययन के लिए किया जाता है.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                  </div>
                  <small class="text-muted"></small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
                <img src="static\arts4.jpg" class="d-block w-100" alt="">
  
              <div class="card-body">
                <p class="card-text">भारतीय कला एक शब्द है जिसका इस्तेमाल कला इतिहास में ऐतिहासिक क्षेत्रों में बनाई गई विभिन्न कलात्मक अभिव्यक्तियों के समूह और अध्ययन के लिए किया जाता है</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                  </div>
                  <small class="text-muted"></small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="static\2.jpg" class="d-block w-100" alt="">
  
              <div class="card-body">
                <p class="card-text">भारतीय कला एक शब्द है जिसका इस्तेमाल कला इतिहास में ऐतिहासिक क्षेत्रों में बनाई गई विभिन्न कलात्मक अभिव्यक्तियों के समूह और अध्ययन के लिए किया जाता है</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                  </div>
                  <small class="text-muted"></small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="static\2.jpg" class="d-block w-100" alt="">
  
              <div class="card-body">
                <p class="card-text">भारतीय कला एक शब्द है जिसका इस्तेमाल कला इतिहास में ऐतिहासिक क्षेत्रों में बनाई गई विभिन्न कलात्मक अभिव्यक्तियों के समूह और अध्ययन के लिए किया जाता हैً.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                  </div>
                  <small class="text-muted"></small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
                <img src="static\2.jpg" class="d-block w-100" alt="">
  
              <div class="card-body">
                <p class="card-text">भारतीय कला एक शब्द है जिसका इस्तेमाल कला इतिहास में ऐतिहासिक क्षेत्रों में बनाई गई विभिन्न कलात्मक अभिव्यक्तियों के समूह और अध्ययन के लिए किया जाता हैً.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                  </div>
                  <small class="text-muted"></small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="static\2.jpg" class="d-block w-100" alt="">
  
              <div class="card-body">
                <p class="card-text">भारतीय कला एक शब्द है जिसका इस्तेमाल कला इतिहास में ऐतिहासिक क्षेत्रों में बनाई गई विभिन्न कलात्मक अभिव्यक्तियों के समूह और अध्ययन के लिए किया जाता है</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                  </div>
                  <small class="text-muted"></small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="static\2.jpg" class="d-block w-100" alt="">
  
              <div class="card-body">
                <p class="card-text">भारतीय कला एक शब्द है जिसका इस्तेमाल कला इतिहास में ऐतिहासिक क्षेत्रों में बनाई गई विभिन्न कलात्मक अभिव्यक्तियों के समूह और अध्ययन के लिए किया जाता हैً.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                  </div>
                  <small class="text-muted"></small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>
{% endblock body %}