{% extends 'base.htm' %}

{% block body %}
<main class="container my-4  ">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic"> भारतीय ग्रंथ  </h1>
        <p class="lead my-3">आज हम आपके सामने प्राचीन भारत (Ancient India) में रचित संस्कृत, पाली, प्राकृत व अन्य भाषाओं के ग्रन्थ और उनके लेखकों (writers) के नाम बताने वाले हैं. </p>
        <p class="lead mb-0"><a href="#" class="text-white fw-bold">https://en.wikipedia.org/wiki/List_of_historic_Indian_texts</a></p>
      </div>
    </div>
  
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary"></strong>
            <h3 class="mb-0">रामायण </h3>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto">अयोध्या के राजकुमार राम अपने पिता के वचन के कारण वनवास में चले जाते हैं। बाद में, रावण ने सीता का अपहरण कर लिया और राम ने उसे बचाने के लिए उसके खिलाफ युद्ध छेड़ दिया और राजा बनने के लिए अयोध्या लौट आए।</p>
            <a href="#" class="stretched-link"></a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="static\ramayan.jpg" class="d-block w-100" alt="">
  
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">माहभारत </strong>
            <h3 class="mb-0"></h3>
            <div class="mb-1 text-muted"></div>
            <p class="mb-auto">अयोध्या के राजकुमार राम अपने पिता के वचन के कारण वनवास में चले जाते हैं। बाद में, रावण ने सीता का अपहरण कर लिया और राम ने उसे बचाने के लिए उसके खिलाफ युद्ध छेड़ दिया और राजा बनने के लिए अयोध्या लौट आए।</p>
            <a href="#" class="stretched-link"></a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="static\mahabharat.jpg" class="d-block w-100" alt="">
  
          </div>
        </div>
      </div>
    </div>
  
{% endblock body %}