{% extends 'base.htm' %}

{% block body %}
<div class="container-fluid px-0" >
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static\1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static\2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static\3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<div class="container1">

    <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="static\nalanda.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">नालंदा विश्वविद्यालय</h1>
        <p class="lead">नालंदा विश्वविद्यालय भारत के बिहार में ऐतिहासिक शहर राजगीर में स्थित एक अंतरराष्ट्रीय और शोध-गहन विश्वविद्यालय है। यह नालंदा के प्रसिद्ध प्राचीन विश्वविद्यालय का अनुकरण करने के लिए संसद के एक अधिनियम द्वारा स्थापित किया गया था, जो 5 वीं और 13 वीं शताब्दी के बीच कार्य करता था।.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">more</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  </div>

 

  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">छठ एक प्राचीन हिंदू त्योहार</h1>
        <p class="lead">छठ एक प्राचीन हिंदू त्योहार है जो ऐतिहासिक रूप से भारतीय उपमहाद्वीप का मूल निवासी है, विशेष रूप से, भारतीय राज्यों बिहार, उत्तर प्रदेश, झारखंड और नेपाल के दक्षिणी भागों में। यह हाल के वर्षों में दक्षिणी अप्रवासियों के प्रभाव के कारण नेपाली पहाड़ी समुदाय के साथ लोकप्रिय हो गया है।.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">more</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="static\chhath.jpg" alt="" width="720">
      </div>
    </div>
  </div>


  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</div>
{% endblock body %}

